.head{
	color: yellow;
	text-align: center;
	background-color: red;
}

.container, .btn, .ans{
	display: flex;
	justify-content: center;
	padding: 20px 20px 20px 20px;
}

.plus, .btn, .ans{
	margin: 20px;
}

.ans{
	border: double;
	border-color: green;
}
